@media (max-width: 1000px) {
    header {
       display: block;
       text-align: center;
    }
}

body {
   background:  darkseagreen;
}

header {
    color: blue;
    width: 1800px;
    text-align: center;

}

h2 {
    border: solid 3px red;
    width: 600px;
    
}


p {
    font-size: 25px;
}

.dreamteam {
    width: 1800px;
    height: 60px;
    font-size: 40px;
    font-weight: bold;
    color: green;
    text-align: center;
}


@media (max-width: 1000px) {
   .dreamteam p{
       display: block;
       text-align: center;
    }
   
}

.blockallphoto {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 1000px;
  height: 500px;
}

@media (max-width: 1000px) {
    .blockallphoto {
        display: block;
        text-align: center;
     }
 }

.photo1 img{
    border-radius: 300px;
    width: 300px;
    height: 300px;
    top: 1100px;

}
.photo2 {
    width: 200px;
    height: 100px;
    top: 1100px;
    
}

.photo3 {
    width: 200px;
    height: 100px;
    top: 1100px;
    
}

.photo4 {
    width: 200px;
    height: 100px;
    top: 1100px;
    
}

.photo5 {
    width: 200px;
    height: 100px;
    top: 1100px;
}
    
    .photo6 {
        width: 200px;
        height: 100px;
        top: 1100px;
        
    }


.tiger {
  font-size: 60px;
  font-family: monospace;
  font-weight: bold;
  color: cadetblue; 
}

@media (max-width: 1000px) {
    .tiger {
        display: block;
        text-align: center;
     }
 }

.regit {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    width: 50%;
    text-align: center;
  }

  @media (max-width: 1000px) {
    .regit {
        display: block;
        text-align: center;
     }
 }


  .olist {
    border: solid 3px blueviolet;
    background: palegoldenrod;
    margin: 15px;
    padding: 10px;
  }


  .olistcont {
    border: solid 3px red;
    background: palevioletred;margin: 15px;
    margin: 15px;
    padding: 10px;
  }


  .olistcontall {
    border: solid 3px yellow;
    background: peru;
    margin: 15px;
    padding: 10px;
  }


  .btn1,button,a {
   width: 140px;
   height: 30px;
   border-radius: 50px;
   color: red;
   text-decoration: none;
  }


  
  .btn2,button,a {
    width: 150px;
    height: 30px;
    text-decoration: none;
}


.table {
    width: 100%;
}

.table td {
    text-align: center;
    padding-bottom: 10px;
}

.table td:hover {
    background: grey;
}

.table tr:nth-child(even) {
    background: greenyellow;
}

.table tr:nth-child(odd) {
    background: green;
}


.btnsend a{
    color: black;
  
}